# ==========================================
# Plantilla de Variables de Entorno
# ==========================================

# MODO 1: Acceso Público / GitHub Pages (vía Túnel Cloudflare HTTPS)
VITE_SUPABASE_URL=https://trustees-businesses-loads-viewing.trycloudflare.com
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
VITE_PHOTOS_URL=https://nurses-forming-toolkit-allocated.trycloudflare.com

# MODO 2: Acceso Local Directo en Servidor Alfa (Desarrollo interno o servidor Beta en la misma LAN)
# VITE_SUPABASE_URL=http://192.168.1.128:8000
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
# VITE_PHOTOS_URL=http://192.168.1.128:8080
